<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pizzeria</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css\style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="container">
    <div class="body-title">
        <div class="title">
            New order
        </div>

    </div>
    <hr/>
    <div class="body-list" id="list">
        <div class="price">
            <div class="choice-title">
                End price:
            </div>
            <div class="price-count">
                0
            </div>
        </div>
        <div class="input-name-form">
            <div class="choice-title">
                Input name:
            </div>
            <div class="product-name">
                <input type="text" class="form-control" placeholder="Name" aria-label="Recipient's username"
                       aria-describedby="basic-addon2">
            </div>
        </div>
        <div class="ingredient-choice-form">
            <div class="choice-title">
                Choice ingredients:
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-success create-order">Create order</button>
</div>
<script src="js\script.js"></script>
</body>
</html>